[Unit]
Description=Thanos query-frontend
Documentation=https://github.com/thanos-io/thanos/

[Service]
Restart=always
User=thanos
EnvironmentFile=/etc/default/thanos-query-frontend
ExecStart=/usr/bin/thanos query-frontend $ARGS
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no
SyslogIdentifier=%N

[Install]
WantedBy=multi-user.target
