[Unit]
Description=Thanos store
Documentation=https://github.com/thanos-io/thanos/

[Service]
Restart=always
User=thanos
EnvironmentFile=/etc/default/thanos-store
ExecStart=/usr/bin/thanos store $ARGS
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no
SyslogIdentifier=%N

[Install]
WantedBy=multi-user.target
