[Unit]
Description=Thanos query
Documentation=https://github.com/thanos-io/thanos/

[Service]
Restart=always
User=thanos
EnvironmentFile=/etc/default/thanos-query
ExecStart=/usr/bin/thanos query $ARGS
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
